/*.esp32h2
/*.esp32p4
/*.esp32s2
/*.esp32s3
/*.defaults
/*.esp32
/*.esp32c3
/*.esp32c5
/*.esp32c6
/*.esp32c61
/Motor.vgdbproj.sevam.user
/pytest_blink.py
/Motor.vgdbproj
/Motor.vgdbproj.lenovo.user
/dependencies.lock
/managed_components
/.visualgdb
/build
